@font-face {
    font-family: NotoSansBold;
    src: url(../fonts/noto-sans/NotoSans-Bold.ttf);
}

@font-face {
    font-family: MonospaceBold;
    src: url(../fonts/monospace/MonospaceBold.ttf);
}


h1,
h2,
p {
    margin: 20px;
}

header {

    h1,
    h2,
    p {
        margin: 50px;
    }
}

header {
    width: 100%;
    background-color: #042031;
    display: inline-block;
}

header img {
    float: left;
    padding-top: 20px;
    width: 200px;
    height: 200px;
}

header h1 {
    text-align: center;
}

h1 {
    font-family: NotoSansBold, helvetica;
    color: #1b4f72;
    font-size: 80px;
}

h2 {
    font-family: NotoSansBold, helvetica;
    color: #1b4f72;
    font-size: 40px;
}

p {
    font-family: MonospaceBold, helvetica;
    color: #1b4f72;
    font-size: 22px;
}

details {
    margin: 30px;
}

summary {
    font-family: NotoSansBold, helvetica;
    color: #1b4f72;
    font-size: 40px;
}

hr {
    border: 1px solid #1b4f72;
}

body {
    background-color: #d6eaf8;
}

.home section.noticias {
    display: flex;
}

section.noticias article {
    display: block;
    width: 33%;
    margin: 20px;
    float: left;
    border: 2px solid #1b4f72;

}

.home article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.noticia1 {
    img {
        width: 80%;
        height: 80%;
    }
}

.noticia2 {
    img {
        width: 80%;
        height: 80%;
    }
}

.noticia3 {
    img {
        width: 60%;
        height: 60%;
    }
}


#gridPlantilla {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

#gridPlantilla img {
    width: 50%;
    height: 50%;
}

figcaption {
    font-family: MonospaceBold, helvetica;
    color: #1b4f72;
    font-size: 22px;
}

.t2122,
.t2223 {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: auto auto;
    padding: 10px;
    margin: 30px;
}

.t2122 img,
.t2223 img {
    width: 50%;
    height: 50%;
}

.patrocinadores{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: auto auto;
    padding: 10px;
    margin: 30px;
}

.patrocinadores img{
    width: 400px;
    height: 250px;
    padding: 30px 0px 30px 170px;
}
.eventos {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: auto auto;
    padding: 10px;
    margin: 30px;
}

.banner img {
    width: 100%;
    height: 400px;
}

.horizontal {

    .mainmenu,
    .submenu {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .mainmenu {
        background-color: #21618c;
        overflow: hidden;
        display: flex;
    }

    li {
        width: 200px;
    }

    li a {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: white;
        text-align: center;
    }

    li a:hover {
        background-color: #85c1e9;
    }

    .submenu {

        background-color: #21618c;
        display: none;
        position: absolute;
    }

    .mainmenu li:hover .submenu {
        display: block;
    }
}

/*
nav.vertical{
    width: 500px;

    .mainmenu,
    .submenu {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .mainmenu {
        margin: 200px 0 0 20px;
    }

    .mainmenu a {
        display: block;
        background-color: #21618c;
        text-decoration: none;
        padding: 10px;
        color: black;
    }

    .mainmenu a:hover {
        background-color: #d6eaf8;
    }

    .submenu {
        display: none;
    }

    .submenu li a{
        background-color: #85c1e9;
    }

    .mainmenu li:hover .submenu {
        display: block;
        
    }
}
*/