:root{

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    width: 6vw;
    margin: 40vh 47vw 0;
    display: block;
    position: relative;
}

.camino {
    position: relative;
    width: 80vw;
    height: 50px;
    margin: 5vh 10vw;
    background-color: chocolate;
    background-image: url(./tierra.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camino:nth-of-type(1) {
    top: 100px;
}

.camino:nth-of-type(2) {
    top: 200px;
}

.camino:nth-of-type(3) {
    top: 300px;
}

.camino>img{
    height: 65px;
    position: absolute;
    top: -10px;
    left: 0vw;

    transition: left 1s;
}

.camino>h2{
    color: white;
    opacity: 0;
}