:root {
    --color-morado: purple;
    --color-purpura: plum;
    --color-morado-claro: rgb(173, 0, 173);
    --color-morado-oscuro: rgb(75, 0, 75);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: helvetica, arial;
}

.tarjeta {
    width: 400px;
    height: 500px;
    background-color: var(--color-morado);
    position: relative;
    margin: 10px;
    border-radius: 10px;
}

.tarjeta::before {
    content: '';
    position: absolute;
    clip-path: circle(150px at 80% 20%);
    background-color: var(--color-purpura);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    transition: all 0.5s ease;
}

.tarjeta:hover::before{
    clip-path: circle(300px at 80% 0%);
}

.tarjeta::after {
    content: 'Oferta';
    position: absolute;
    color: var(--color-morado-oscuro);
    width: 100%;
    font-size: 145px;
    z-index: 0;
    bottom: 190px;
}

.divFruta {
    position: relative;
    background-image: url(img/higos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 300px;
    margin: 0 50px;
    z-index: 1;
}

h1,h2,span {
    text-align: center;
    color: whitesmoke;
}

h2{
    width: fit-content;
    font-size: 22px;
}

.datos {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    text-align: center;
    transition: all 1s ease 10ms;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.tam{
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0 10px;
}

.peq:hover,.med:hover,.gra:hover{
    background-color: var(--color-purpura);
    border-radius: 5px;
}

.unidades{
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0 30px;
}

.unidades > *{
    width: 50%;
}

.contenidoUnidades > *{
    margin-right: 15px;
}

.unidades span{
    border-radius: 5px;
    padding: 3px 6px;
    background-color: var(--color-purpura);
    color: var(--color-morado-oscuro);
}

.unidades input{
    width: 30px;
    border-radius: 8px;
    padding: 3px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.precio{
    display: flex;
    margin-left: 100px;
    width: 200px;
}

.precio > *{
    margin-left: 10px;
}

.precioCantidad{
    border-radius: 5px;
    width: 35px;
    background-color: var(--color-purpura);
    color: var(--color-morado-oscuro);
    display: flex;
    align-items: center;
    justify-content: center;
}

.precioCantidad::after{
    content: '€';
}