:root{
    --x-derecha: 400px;
    --x-izquierda: -400px;
    --y-arriba: -45px;
    --y-abajo: 230px;
}

.circuito{
    /* background-image: url("circuito.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
    width: 1000px;
    height: 500px;

    position: relative;
}

.fondo{
    width: 100%;
    height: auto;
}

.circuito:hover .coche, .circuito:hover .tractor{
    animation-play-state: running;
}

.coche{
    position: absolute;
    left: 450px;
    top: 15px;
    width: 100px;
    transform: rotate(90deg);
    animation: conducir 6s 1 linear forwards;
    animation-play-state: paused;
}

.tractor{
    position: absolute;
    left: 450px;
    top: 32px;
    width: 100px;
    transform: rotate(90deg);
    animation: conducir 10s 1 linear forwards;
    animation-play-state: paused;
}

@keyframes conducir {
    0%{
        transform: translate(0px,var(--y-arriba)) rotate(90deg);
    }

    20%{
        transform: translate(var(--x-derecha),var(--y-arriba)) rotate(90deg);
    }

    30%{
        transform: translate(var(--x-derecha), calc( (var(--y-arriba) + var(--y-abajo)) / 2 )) rotate(180deg);
    }

    40%{
        transform: translate(var(--x-derecha),var(--y-abajo)) rotate(270deg);
    }

    60%{
        transform: translate(var(--x-izquierda),var(--y-abajo)) rotate(270deg);
    }

    70%{
        transform: translate(var(--x-izquierda), calc( (var(--y-arriba) + var(--y-abajo)) / 2 )) rotate(360deg);
    }

    80%{
        transform: translate(var(--x-izquierda),var(--y-arriba)) rotate(450deg);
    }

    100%{
        transform: translate(0px,var(--y-arriba)) rotate(450deg);
    }
}

@keyframes conducir2 {
    0%{
        transform: translate(0px,0px) rotate(90deg);
    }

    15%{
        transform: translate(400px,0px) rotate(90deg);
    }

    35%{
        transform:  translate(400px,270px) rotate(270deg);
    }

    65%{
        transform:  translate(-400px,270px) rotate(270deg);
    }

    85%{
        transform:  translate(-400px,0px) rotate(450deg);
    }

    100%{
        transform:  translate(0px,0px) rotate(450deg);
    }
}

