*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.fichas{
    display: flex;
    flex-direction: row;
}

.ficha{
    position: relative;
    width: 22vw;
    height: 22vw;
    background-color: white;
    margin: 2vw;
}

.anverso, .reverso{
    border-radius: 10px;
    padding: 2vw;
    margin: 2vw;
    border: 3px solid brown;

    position: absolute;
    width: 100%;
    height: 100%;

    transition: all 0.5s ease 0.5s;
}

.anverso.f1{
    background-image: url(imgs/sabatonIcon.jpg);
}

.reverso.f1{
    background-image: url(imgs/negro.png);
}

.anverso.f2{
    background-image: url(imgs/fitoIcon.png);
}

.reverso.f2{
    background-image: url(imgs/negro.png);
}

.anverso.f3{
    background-image: url(imgs/coldplayIcon.jpg);
}

.reverso.f3{
    background-image: url(imgs/negro.png);
}

.anverso{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.reverso{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.reverso ul{
    list-style: none;
}

li::before{
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url(imgs/songIcon.jpg);
    background-size: contain;
    margin-right: 1rem;
}

.anverso{
    z-index: 1;
}

.reverso{
    z-index: 0;
    transform: rotateX(-180deg);
}

.ficha:hover .anverso{
    z-index: 0;
    transform: rotateX(180deg);
}

.ficha:hover .reverso{
    z-index: 1;
    transform: rotateX(0deg);
}

h1,li{
    color: white;
}

h1{
    text-align: center;
}



