*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.fondoImg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
}

#seccion1{
    width: 100vw;
    height: 70vh;

    position: relative;
}

#seccion1 div{
    width: 100%;
    height: 100%;

    position: absolute;
    transition: all 1s;
}

#s1f1{
    background-color: red;
    left: 0;
}

#s1f2{
    background-color: blue;
    left: 100%;
}

#s1f3{
    background-color: green;
    left: 200%;
}

#botones{
    position: absolute;
    display: flex;
    width: 10vw;
    margin: 0 45vw;
    bottom: 10vh;
    justify-content: space-around;
}

button{
    width: 38px;
    height: 12px;
    border-radius: 15px;
    background-color: dimgray;
    border: none;

    border: 1px solid red;
}

.buttonWhite{
    background-color: white;
}

button:hover{
    cursor: pointer;
}


