a {
    color: red;
}

a:visited {
    color: darkred;
}

a:hover {
    background-color: yellow;
}

.transition {
    width: 150px;
    height: 70px;
    background-color: gray;
    margin: 5px;
}

div:hover {
    width: 300px;
    height: 100px;
    background-color: orange;
}

.ease {
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease;
}

.linear {
    -webkit-transition: all 3s linear;
    -moz-transition: all 3s linear;
    -ms-transition: all 3s linear;
    -o-transition: all 3s linear;
    transition: all 3s linear;
}

.ease-in {
    -webkit-transition: all 3s ease-in;
    -moz-transition: all 3s ease-in;
    -ms-transition: all 3s ease-in;
    -o-transition: all 3s ease-in;
    transition: all 3s ease-in;
}

.ease-out {
    -webkit-transition: all 3s ease-out;
    -moz-transition: all 3s ease-out;
    -ms-transition: all 3s ease-out;
    -o-transition: all 3s ease-out;
    transition: all 3s ease-out;
}

.ease-in-out {
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -ms-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
}