
article{
    width: 420px;
    height: 140px;
    background-color: lightgray;
}

figure{
    float: left;
    margin: 0;
}

figure img{
    width: 150px;
    height: 100px;
    padding: 20px 0px 0px 30px;
}

.datos-productos{
    float: right;
    margin: 10px 20px 0px 0px;
}

.datos-productos div{
    margin: 5px;
}

.borrar{
    display: block;
    font-weight: bold;
    float: right;
    border: 1px solid black;
    padding: 2px 6px;
    border-radius: 25%;
}

.nombre{
    font-weight: bold;
    clear: both;
}

.colores li{
    width: 20px;
    display: inline-block;
    height: 20px;
    border-radius: 12.5px;
    margin: 10px 0px 0px 5px;
    border: 1px solid black;

}

.colores li:nth-child(1){
    background-color: black;
}

.colores li:nth-child(2){
    background-color: burlywood
}

.colores li:nth-child(3){
    background-color: grey;
}

.colores li:nth-child(4){
    background-color: #bf8a3d
}

.colores li:nth-child(5){
    background-color: #724625
}