.icono{
    width: 150px;
    height: 150px;
    border-right: 3px solid black;
    padding: 20px 20px 20px 0px;
}

.nombre{
    width: 200px;
    height: 150px;
    padding: 20px;
}

.lupa{
    width: 100px;
    height: 75px;
    padding: 20px;
}

input{
    width: 300px;
    height: 40px;
    text-align: center;
}

div.l{
    float: left;
    height: 200px;
    margin: 10px;
    width: 50%;
    margin-left: 200px;
}

div.r{
    float: right;
    height: 200px;
    margin: 10px;
    width: 50%;
}

div.l,div.r{
    display: flex;
    align-items: center;
}

header{
    width: 100%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;

    display:flex;
    /* justify-content: center; */
    align-items: center;
}

.abajo{
    width: 100%;
    margin: 10%;
}

.abajo div{
    float: left;
}

.cuerpo{
    display: block;
}

.nombrePerfil{
    align-items: center;
    font-weight: bold;
}

.imagenPerfil{
    margin: 20px;
    width: 40px;
    height: 40px;
    border: 3px solid pink;
    border-radius: 55%;
}

.perfil{
    display: flex;
    align-items: center;
}

.perfil a:link{
    color: blue;
    font-family: Helvetica;
    text-decoration: none;
}

.perfil a:visited{
    color:rgb(104, 104, 252);
    font-family: Helvetica;
    text-decoration: none;
}

.perfil a:hover{
    text-decoration: underline;
}

.check{
    width: 40px;
    height: 40px;
}

.poster{
    position: relative;
}

.poster img{
    position: absolute;
}

.poster,.cuerpo{
    border: 1px solid grey;
    border-collapse: collapse;
    width: 40%;
}

.puntos{
    width: 40px;
    height: 40px;
    margin: 0px 40px;
}