@font-face {
    font-family: TreeNight;
    src: url(fonts/decorative_tree_night/Decorative\ font\ Tree\ Night.ttf);
}

@font-face {
    font-family: Frightmare;
    src: url(fonts/frightmare/Frightmare.ttf);
}

@font-face {
    font-family: HalloweenSpooky;
    src: url(fonts/halloween_spooky_2/Halloween\ Spooky.otf);
}

@font-face {
    font-family: MidnightMinutes;
    src: url(fonts/midnight_minutes/MidnightMinutes_DEMO.otf);
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
}

body {
    background-color: #191919; /*background-color: grey; */
    margin: 0px;
}

p {
    color: #ffefc9;
}

.categoria {
    text-transform: uppercase;
    font-size: larger;
}

header {
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

header h1 {
    height: 260px;
    font-family: TreeNight;
    font-size: 80px;
    font-weight: normal;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    margin: 0px;
}

h2{
    color: #b14624;
    font-family: MidnightMinutes;
    font-weight: 100;
    font-size: 50px;
}

h3{
    color: #b14624;
    font-family: MidnightMinutes;
    font-weight: 50;
    font-size: 40px;
    border-bottom: 2px solid #b14624;
    display: inline;
}

#mainmenu {
    display: flex;
    background-color: #fe9600;
    margin: 0px;
    padding: 0px;
}

#mainmenu li {
    width: 25%;
    list-style: none;
    text-align: center;
}

#mainmenu li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #a21a00;
    font-family: HalloweenSpooky;
    font-size: 30px;
}

#mainmenu li:hover{
    background-color: #ffad3b;
}

#presentacion{
    margin: 0px 20px;
}

.agruparInfoyImg div{
    float: left;
}

.info {
    display: inline-block;
    align-items: center;
}

.imgInfo{

}

.info, .categorias{
    margin: 0% 15%;
}

.categorias{
    clear: both;
}

.rotate{
    margin-left: 0;
    margin-top: 200px;
    transform: rotate(20deg);
}

.murcielago{
    bottom: 285px;
    right: 135px;
    position: relative;
    width: 80%;
}

#galeria {
    width: 80%;
    margin: 0px 20px;
}

.grid {
    padding: 50px;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: auto auto auto;
    margin-left: 10%;
    background-color: #130912;
    column-gap: 20px;
    row-gap: 20px;
}

.grid p {
    text-align: center;
}

.grid figure {
    margin: 0;
}

.grid img {
    width: 100%;
    height: 100%;
}

#formulario {
    margin: 10px 20px;
}

legend {
    font-family: Frightmare;
    font-size: 50px;
}

input {
    margin: 10px;
}

.datosPersonales input::placeholder,
.datosContacto input::placeholder {
    text-align: center;
}

#DNI {
    margin-left: 30px;
}

.comentarios {
    margin-top: 20px;
}

.comentarios textarea {
    margin: 20px 0px 0px 10px;
}

#contacto{
    margin: 0px;
    padding: 20px 20px;
    background-color:  #130912;
    display: flex;
}

#contacto p, #contacto a{
    margin: 0;
    padding: 0;
    width: 33%;
    text-align: center;
    font-size: 20px;
}

#contacto a {
    color: #a21a00;
    text-decoration: none;
}

p.p1 {
    text-align: center;
    width: 200px;
    border: 1px solid orange;
    border-radius: 30px;
    background-color: orange;
    color: black;
    padding: 20px;
}


