@font-face {
    font-family: TreeNight;
    src: url(fonts/decorative_tree_night/Decorative\ font\ Tree\ Night.ttf);
}

@font-face {
    font-family: Frightmare;
    src: url(fonts/frightmare/Frightmare.ttf);
}

header{
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

header h1{
    height: 260px;
    font-family: TreeNight;
    font-size: 80px;
    font-weight: normal;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin: 0px;
}


#galeria{
    width: 50%;
    margin-left: 25%;
}

.grid{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: auto auto auto;
    padding: 5%;
}

.grid img{
    width: 80%;
    height: 80%;
}

#formulario{
    margin: 10px 20px;
}

legend{
    font-family: Frightmare;
    font-size: 50px;
}

input{
    margin: 5px;
}

#DNI{
    margin-left: 29px;
}

